<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" >
    <title></title>
  </head>
    <body><style media="screen">
      .postbg {
        background-image: url("<%= @poster %>");
      }</style><div class="postbg">
        <div
      id="blur-div">

    <h1> RE-MDb </h1>

    <%= yield %>

    <a href="/">HOME</a>
<br>
  <footer id="foot"> Please don't steal my code </footer></div>
  </div>
  </body>

</html>
