body {
  width: 100%;
  color: white;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: Verdana, Arial, sans-serif;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
#poster {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  filter: none;
}

#postersmall {
  width: 150px;
}

#blur-div {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.postbg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /*-webkit-filter: blur(3px);
  filter: blur(3px);*/
}

h1 {
  font-size: 3em;

}
h1, h2, h3 {
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#multisearch, #singlesearch {
  padding: 1em;
  font-size: 1em;
}

#foot {
  padding: 2em;
  color: lightgrey;
}
