<form action="/cars" method='post'>
  <label for="">Car name :</label>
  <input name="name">
  <br><br>
  <label for=""> image_url LINK : </label>
  <textarea name="img_url" rows="4" cols="40"></textarea>
  <button>Submit</button>

</form>

<a class="home" href="/">Home</a>
